name: Publish
on:
  release:
    types:
    - created
jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: npm install
    # - uses: actions/checkout@v1
    # - run: git config --global user.email "${{ secrets.GH_EMAIL }}"
    # - run: git config --global user.name "${{ secrets.GH_NAME }}"
    # - name: Bump version
    #   run: npm version patch
    # - name: Create Pull Request
    #   uses: peter-evans/create-pull-request@v1
    #   with:
    #     token: ${{ secrets.GH_TOKEN }}
    #     commit-message: Bump version
    #     title: Bump version
    - name: Publish
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}